 @import '../../../../styles.scss';

 header {
   background-color: $secon-color;
   font-family: 'Chilanka', cursive;
   width: 100%;
   padding: 10px 0px;
   display: flex;
   color: $font-secon-color;
   justify-content: space-between;

   .logo img {
     margin-left: 10px;
     height: 45px;
     border-radius: 5px;
   }

   .name {
     font-size: 35px;
     margin-right: 10px;
     display: flex;
     justify-content: center;
     align-items: center;

     small {
       font-size: 12px;
       margin-left: 5px
     }
   }
 }
