 @import '../styles.scss';

 #main-container-yilly {
   min-height: calc(100vh - 172px);
   flex-direction: column;
   display: flex;
   margin: 0px;
   font-family: 'Chilanka',
     cursive;
   color: $secon-color;
 }
