footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  color: white;
  background-color: #d82c0e;
  display: flex;
  justify-content: center;
  align-items: center;
}
