 @import '../../../../styles.scss';

 footer {
   color: $font-secon-color;
   background-color: $secon-color;
   display: flex;
   justify-content: center;
   display: flex;
   align-items: center;
   height: 100px;
   width: 100%;
 }
