<app-header></app-header>
<section class="banner">
    <h2>Bienvenidos</h2>
    <p>
        Elige la categoría de tu interés y compra tus productos y experiencias en Jilly, finaliza tu comprar por
    </p>
    <img
        src="https://as.com/betech/imagenes/2018/10/02/portada/1538479576_896756_1538479679_noticia_normal.jpg"
        alt
    >
</section>

<h3>Elige tu categoría</h3>
<section class="categories__container">

    <div class="categories__choise">
        <div class="categories__item">
            <img
                src="https://images.unsplash.com/photo-1525135501285-621c7433f0f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                alt="productos"
            >
            <em>PRODUCTOS</em>
        </div>
        <div class="categories__item">
            <img
                src="https://images.unsplash.com/photo-1507691640734-887fa7be3377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"
                alt="experienzas"
            >
            <em>EXPERIENCIAS</em>
        </div>
    </div>
</section>

<app-footer></app-footer>
